@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    to
      right
      bottom,
    #0ffbb1,
    #ffe37387,
    #513bf9
  );
  background-size: 400%
    400%;
  animation: gradient
    15s
    ease
    infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%
      0%;
  }
  50% {
    background-position: 100%
      0%;
  }
  100% {
    background-position: 0%
      0%;
  }
}
